name: Build and Push Master and Slave Docker Images

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Check out the code
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 2: Authenticate to DockerHub
    - name: Log in to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    # Step 3: Build and Push Master Docker Image
    - name: Build and Push Master Image
      run: |
        docker build -f docker/alpine/hotspot/Dockerfile -t ${{ secrets.DOCKER_HUB_USERNAME }}/jenkins-master:latest docker/alpine/hotspot/
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/jenkins-master:latest

    # Step 4: Build and Push Slave Docker Image
    - name: Build and Push Slave Image
      run: |
        docker build -f docker-agents/alpine/Dockerfile -t ${{ secrets.DOCKER_HUB_USERNAME }}/jenkins-slave:latest docker/alpine/
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/jenkins-slave:latest
